nav(class="navbar navbar-expand-lg navbar-light bg-light")
    a.navbar-brand Navbar
    button(class="navbar-toggler" type="button" 
            data-toggle="collapse" data-target="#navbarContent" 
            aria-controls="navbarContent" aria-expanded="false" 
            aria-label="Open navigation options")
        span(class="navbar-toggler-icon")
    div(class="collapse navbar-collapse" id="navbarContent")
        ul(class="navbar-nav mr-auto")
            li(class="nav-item active")
                a(class="nav-link" href="#") Home