include ../column/_column.pug
footer(class="page-footer font-small blue pt-4")
  div(class="container-fluid text-center text-md-left")
    div(class="row")
      div(class="col-md-6 mt-md-0 mt-3")
        +column('Assistant', ['About the project', 'How to contribute', 'Support us'])
        +column('Developers', ['Use our API', 'Get a developer ticket', 'Buy Assistant SDK'])
      hr(class="clearfix w-100 d-md-none pb-3")